blessed==1.20.0
boto3==1.34.154
botocore==1.34.154
certifi==2024.7.4
cffi==1.17.0
chalice==1.31.2
charset-normalizer==3.3.2
click==8.1.7
# Must be 2.4.0 for manylinux_2_17
confluent-kafka==2.4.0
cryptography==43.0.0
idna==3.7
inquirer==2.10.1
jmespath==1.0.1
pycparser==2.22
python-dateutil==2.9.0.post0
python-editor==1.0.4
PyYAML==6.0.1
readchar==4.1.0
requests==2.32.3
s3transfer==0.10.2
six==1.16.0
urllib3==2.2.2
wcwidth==0.2.13
PyJWT==2.8.0